@keyframes taglineMove
{
	from { font-size: 3em; opacity: 1; color: white; }
	to	{ font-size: 8.21em; opacity: 0;  color: red; }
}

@keyframes toTop
{
	from { top: 100%; opacity: 0; z-index: -2; color: white; }
	to	{ top: 0%; opacity: 1; z-index: -1; color: #ffff99; }
}




